.restaurant-card {
    width: 100%;
    border-top: 2px solid #9d2525;
    border-left: 2px solid #9d2525;
    border-bottom: 8px solid #9d2525;
    border-style: solid;
    border-right: 5px solid #9d2525;
    border-bottom-right-radius: 34px;
    border-color: #9d2525;
    height: auto;
    margin: 10px;
    margin-bottom: 30px;
    padding: 5px;
    font-family: Aclonica;
}