Options -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(css|js|fonts|img|assets|temp)

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]