div.gallery > div.carousel.slide {
    width: 100%;
    height: 100%;
}

.card > div.gallery {
    object-fit: contain;
}

div.info {
    padding-left: 0px;
    padding-top: 30px;
}

h3.name {
    font-size: 1.75rem;
    width: 60%;
    font-family: Aclonica;
    float: left;
    padding: 10px 10px 10px 20px;
    height: 100%;
    background-color: #d59a9a;
}

h3.number {
    font-size: 1.75rem;
    width: 40%;
    font-family: Aclonica;
    float: left;
    padding: 10px 10px 10px 20px;
    height: 100%;
    background-color: #d59a9a;
}