div.tab-content {
  /*width:200px;*/
  /*float:right;*/
}

ul.nav.nav-tabs {
  float:left;
}

.highlight-clean p {
  color:#7d8285;
}

.row {
  margin-right:0;
  margin-left:0;
  padding-left:0;
  padding-right:0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position:relative;
  min-height:1px;
  padding-right:0px;
  padding-left:0px;
}

div.col-xs-12.one-column-row {
  float:none;
  border-radius:7px;
  width:95%;
  margin:25px auto 0px auto;
  padding:5px;
  min-height:100px;
  background-color:rgba(255,255,255,0.78);
}

@media (max-width:767px) {
  div.col-xs-12.one-column-row {
    width:95%;
    margin:25px auto 0px auto;
    padding:0px;
  }
}

div.ministry-tabs {
  min-height:565px;
}

@media (max-width:991px) {
  div.ministry-tabs {
    min-height:200px;
  }
}

div.news-bulletin-tabs {
  min-height:565px;
}

@media (max-width:991px) {
  div.news-bulletin-tabs {
    min-height:200px;
  }
}

div.row.two-column-row-inner {
  float:none;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  min-height:100px;
  background-color:rgba(255,255,255,0.78);
  border-radius:7px;
}

@media (max-width:767px) {
  div.row.two-column-row-inner {
    float:none;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    min-height:100px;
    background-color:rgba(255,255,255,0.78);
    border-radius:7px;
  }
}

a:focus, a:hover {
  color:#c30f15;
  font-weight:bold;
  text-decoration:underline;
}

.nav {
  padding-left:0;
  margin-bottom:0;
  margin-top:0;
  padding-bottom:0;
  list-style:none;
}

.nav-tabs {
  /*border-bottom:2px solid #c30f15;*/
  /*margin-bottom:15px;*/
  /*width:230px;*/
  /*float:left;*/
}

.news-bulletin-heading-text {
  color:rgb(0,85,144);
  font-size:1.8em;
  text-shadow:1.5px 2.0px 2px rgba(36,49,112,0.6);
  font-family:'Berkshire Swash';
  margin:0;
}

a.bulletin-month-text {
  color:#c30f15;
}

.panel-title {
  margin-top:0;
  margin-bottom:0;
  font-size:1.1em;
  color:inherit;
}

.centered {
  float:none;
  margin-left:auto;
  margin-right:auto;
}

@media ( min-width: 767px ) {
  .panel-group {
    width:300px;
    float:left;
    display:block;
    margin-right:20px;
  }
}

